src/logic_apps/expense_reports_loop.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
        "Expenses_GetAllForLastMonth": {
            "inputs": {
                "method": "get",
                "uri": "https://mdc-api-app.azurewebsites.net/api/expenses/last-month"
            },
            "metadata": {
                "apiDefinitionUrl": "https://mdc-api-app.azurewebsites.net/swagger/docs/v1",
                "swaggerSource": "website"
            },
            "runAfter": {},
            "type": "Http"
        },
        "For_each": {
            "actions": {
                "HTTP": {
                    "inputs": {
                        "body": "@{item()?['EmployeeName']}@{item()?['Expenses']}",
                        "method": "POST",
                        "uri": "http://requestb.in/zirhnjzi"
                    },
                    "runAfter": {},
                    "type": "Http"
                }
            },
            "foreach": "@body('Expenses_GetAllForLastMonth')?['ExpenseReports']",
            "runAfter": {
                "Expenses_GetAllForLastMonth": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {},
    "triggers": {
        "Recurrence": {
            "recurrence": {
                "frequency": "Month",
                "interval": 1,
                "startTime": "29 Aug 2016 15:00",
                "timeZone": "Central Standard Time"
            },
            "type": "Recurrence"
        }
    }
}